{% extends 'base.html' %}

{% block content %}
<div class="container">
	<!-- MEDIUM+ SCREEN -->
	<div class="d-none d-md-flex flex-column">
		<br>
        <div class="card p-4" style = "text-align: center;">
			<h1>Welcome to Matthew's Film Chat/Database Website!</h1>
		</div>
		<br>
		{% include 'public_chat/snippets/public_chat_room.html' with room_id=room_id %}
		<br>
	</div>
	<!--END MEDIUM+ SCREENS-->

	<!-- SMALL SCREENS -->
	<div class="d-flex d-md-none p-2">
		<p style = "color: grey">This site is not meant to be viewed on a mobile device.</p>
	</div>
	<!-- END SMALL SCREENS -->
</div>

{% endblock content %}

<!--
				{% for movie in movies %}
					{% if forloop.first %}<div class="row">{% endif %}                      
					<div class="col-md-4">
		
						{% if movie.poster_path|length > 0 %}
							<a href="{% url 'movie:details' movie.pk %}" data-toggle="tooltip" data-placement="left" title='More details' ><img src="{{ movie.poster_path.url }}"  width='100' class="card-img-top" alt="...">  </a>
						{% else %}
							<a href="{% url 'movie:details' movie.pk %}" data-toggle="tooltip" data-placement="left" title='More details' ><img src="{{movie.poster_link}}" class="card-img-top" alt="..."> </a>
						{% endif %}
					</div>
				{% endfor %}-->