{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">

    :root {
        --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
      }
      
      body {
        background: #111 !important;
      }
      
      .card {
        background: #222;
        border: 1px solid #dd2476;
        color: rgba(250, 250, 250, 0.8);
        margin-bottom: 2rem;
      }
    
      .card-img-top {
        width: 100%;
        max-height: 150px;
        object-fit: contain;
        padding: 25px 50px 0px;
    }
      
      .btn {
        border: 5px solid;
        border-image-slice: 1;
        background: var(--gradient) !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        border-image-source:  var(--gradient) !important; 
        text-decoration: none;
        transition: all .4s ease;
      }
      
      .btn:hover, .btn:focus {
            background: var(--gradient) !important;
        -webkit-background-clip: none !important;
        -webkit-text-fill-color: #fff !important;
        border: 5px solid #fff !important; 
        box-shadow: #222 1px 0 10px;
        text-decoration: underline;
      }
    
    
    </style>

<div class="content-section">
    <form method="POST">
        {% csrf_token  %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Movie Details</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
    </form>

</div>

{% endblock content %}