{% extends 'base.html' %}
{% load static %}
<!-- {% load crispy_forms_tags %} -->
{% block content %}

<style type="text/css">

    :root {
        --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
      }
      
      body {
        background: rgb(20, 20, 20) !important;
      }
      
      .card {
        background: #222;
        border: 1px solid #dd2476;
        color: rgba(250, 250, 250, 0.8);
        margin-bottom: 2rem;
      }
    
      .card-img-top {
        width: 100%;
        max-height: 150px;
        object-fit: contain;
        padding: 25px 50px 0px;
    }
      
      .btn {
        border: 5px solid;
        border-image-slice: 1;
        background: var(--gradient) !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        border-image-source:  var(--gradient) !important; 
        text-decoration: none;
        transition: all .4s ease;
      }
      
      .btn:hover, .btn:focus {
            background: var(--gradient) !important;
        -webkit-background-clip: none !important;
        -webkit-text-fill-color: #fff !important;
        border: 5px solid #fff !important; 
        box-shadow: #222 1px 0 10px;
        text-decoration: underline;
      }
    
    
    </style>
  

<div class="container card"  style="padding: 30px;" > 
    <div class='d-flex align-items-center'> 
      
      <span><h5> Add a Movie </h5>  </span>
    </div> 

    <hr style="  color:#dd2476;background-color:#dd2476; ">

    <form method="POST">
        {% csrf_token  %}
        {{ form.errors }}
        {{ form.non_field_errors }}     
    
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}  d-flex justify-content-center">
          {{ message|safe }}
          <!-- {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %} -->
        </div>
        {% endfor %}
        {% endif %}

   

          <div class="form-group row">                
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-4"> {{form.series_title}}</div>
          </div>  
            
            <div class="form-group row">                
                <label for="genre" class="col-sm-2 col-form-label">Genre</label>
                <div class="col-sm-4"> {{form.genre}}</div>
            </div>             
            <div class="form-group row">
                <label for="certificate" class="col-sm-2 col-form-label">Certificate</label>
                <div class="col-sm-4">{{form.certificate}}</div>
                <label for="runtime" class="col-sm col-form-label">Run Time</label>
                <div class="col-sm-4">{{form.runtime}}</div>
              
            </div>     

            <div class="form-group row">
                <label for="imdb_rating" class="col-sm-2 col-form-label">IMDB Rating</label>
                <div class="col-sm-4"> {{form.imdb_rating}}</div>
                <label for="meta_score" class="col-sm-2 col-form-label">Meta Score</label>
                <div class="col-sm-4">{{form.meta_score}}</div>
            </div>
         
            
            <div class="form-group row">              
                <label for="no_of_votes" class="col-sm-2 col-form-label">No of Votes</label>
                <div class="col-sm-4">{{form.no_of_votes}}</div>
                <label for="gross" class="col-sm-2 col-form-label">Gross</label>
                <div class="col-sm-4"> {{form.gross}}</div>
            </div>

            <div class="form-group row">
                <label for="director" class="col-sm-2 col-form-label">Directors</label>
                <div class="col-sm-4"> {{form.director}}</div>
            </div>

            <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2">Stars</legend>
                  <div class="col-sm-10">                   
                        {{form.star1}} 
                        {{form.star2}}       
                        {{form.star3}}
                        {{form.star4}}
                    </div>
                  </div> 
            </fieldset>
                 
            <div class="form-group row">
                <label for="overview" class="col-sm-2 col-form-label">Overview</label>
                <div class="col-sm-10">
                    {{form.overview }}
                </div>
            </div>    

            <div class="form-group ">
                <button class="btn btn-outline-info" type="submit">Save</button> 
                <button class="btn btn-outline-info" type="reset">Reset</button> 
                <a class="btn btn-outline-info" href="{% url 'movie:home' %}" role="button">Back</a>
            </div>
    </form>

</div>

{% endblock content %}