{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load mytag %}
{% block content %}

<div class="container-fluid" >
	
	<div class="row">
            <div class="col-md-8"> 
                  {% include 'movie/movie_list.html' %} 
            </div>
            <div class="col-md-4">  
                  <h4 class="text-center  text-label " style='color:#FF6A3D'>Trending movies </h4>
                  {% include 'movie/carousle.html' with top_10_movies=top_10_movies %}
                  <br>
                  {% include 'public_chat/snippets/public_chat_room.html' with room_id=room_id %}                   
            </div>	
	</div>

</div>

 

{% endblock content %}