{% extends 'base.html' %}
{% load static %}
<!-- {% load crispy_forms_tags %} -->
{% block content %}

 




<div class="container card"  style="padding: 30px;" > 
    <div class='d-flex align-items-center'> 
      
      <span><h5> Add a Movie </h5>  </span>
    </div> 

    <hr style="  color:#dd2476;background-color:#dd2476; ">

    <form method="POST" id='movie_create_form'>
        {% csrf_token  %}
        {{ form.errors }}
        {{ form.non_field_errors }}     
    
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}  d-flex justify-content-center">
          {{ message|safe }}
          <!-- {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %} -->
        </div>
        {% endfor %}
        {% endif %}

   

          <div class="form-group row">                
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-4"> {{form.series_title}}</div>
          </div>  
            
            <div class="form-group row">                
                <label for="genre" class="col-sm-2 col-form-label">Genre</label>
                <div class="col-sm-4"> {{form.genre}}</div>
            </div>             
            <div class="form-group row">
                <label for="certificate" class="col-sm-2 col-form-label">Certificate</label>
                <div class="col-sm-4">{{form.certificate}}</div>
                <label for="runtime" class="col-sm col-form-label">Run Time</label>
                <div class="col-sm-4">{{form.runtime}}</div>
              
            </div>     

            <div class="form-group row">
                <label for="imdb_rating" class="col-sm-2 col-form-label">IMDB Rating</label>
                <div class="col-sm-4"> {{form.imdb_rating}}</div>
                <label for="meta_score" class="col-sm-2 col-form-label">Meta Score</label>
                <div class="col-sm-4">{{form.meta_score}}</div>
            </div>
         
            
            <div class="form-group row">              
                <label for="no_of_votes" class="col-sm-2 col-form-label">No of Votes</label>
                <div class="col-sm-4">{{form.no_of_votes}}</div>
                <label for="gross" class="col-sm-2 col-form-label">Gross</label>
                <div class="col-sm-4"> {{form.gross}}</div>
            </div>

            <div class="form-group row">
                <label for="director" class="col-sm-2 col-form-label">Directors</label>
                <div class="col-sm-4"> {{form.director}}</div>
            </div>

            <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2">Stars</legend>
                  <div class="col-sm-10">                   
                        {{form.star1}} 
                        {{form.star2}}       
                        {{form.star3}}
                        {{form.star4}}
                    </div>
                  </div> 
            </fieldset>
                 
            <div class="form-group row">
                <label for="overview" class="col-sm-2 col-form-label">Overview</label>
                <div class="col-sm-10">
                    {{form.overview }}
                </div>
            </div>    
 

            <div class="row">
                <div class="col text-right">
                  <a href="{% url 'movie:home' %}" data-toggle="tooltip" data-placement="bottom" title='Back'><img  src="{% static 'previous.png' %}" width='40px' style="margin-right: 25px;" alt="Back" > </a>
                </div>
                <div class="col text-center">
                    <input type="submit" id="create_btn" style="display:none;"/>
                  <img src="{% static 'save.png' %}" width='40px' alt="Save" data-toggle="tooltip" data-placement="bottom" title='Save' onclick="document.getElementById('create_btn').click();">
                </div>
                <div class="col text-left">
                   <input type="reset" id="reset_btn" style="display:none;"/>
                   <img   src="{% static 'reset.png' %}" width='40px'  alt="reset" data-toggle="tooltip" data-placement="bottom" title='Reset' onclick="document.getElementById('reset_btn').click();" >
                    
                </div>
              </div>    


    </form>

</div>

{% endblock content %}