{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %} 
{% block content %}

 
 


<div class="container card"  style="padding: 30px;" >

    <div class='d-flex align-items-center'> 
      {% if form.instance.poster_path|length > 0 %}
          <span style="float:left; padding-right: 30px; "><img src="{{ form.instance.poster_path.url }}"  width='100'> </span>
      {% else %}
          <span style="float:left; padding-right: 30px; "><img src="{{form.poster_link.value}}"  alt="..."></span>
      {% endif %}
        <span><h5> {{ form.series_title.value }}</h5>  </span>
    </div> 

    <hr style="  color:#dd2476;background-color:#dd2476; ">

    <form id='movie_form' method="POST" enctype="multipart/form-data"> 
        {% csrf_token  %}
        {{ form.errors }}
        {{ form.non_field_errors }}     
    
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}  d-flex justify-content-center">
          {{ message|safe }}
          <!-- {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %} -->
        </div>
        {% endfor %}
        {% endif %}
           
            <div class="form-group row">                
                <label for="genre" class="col-sm-2 text-label">Genre</label>
                <div class="col-sm-4"> {{form.genre}}</div>
            </div>             
            <div class="form-group row">
                <label for="certificate" class="col-sm-2 text-label">Certificate</label>
                <div class="col-sm-4">{{form.certificate}}</div>
                <label for="runtime" class="col-sm text-label">Run Time</label>
                <div class="col-sm-4">{{form.runtime}}</div>
              
            </div>     

            <div class="form-group row">
                <label for="imdb_rating" class="col-sm-2 text-label">IMDB Rating</label>
                <div class="col-sm-4"> {{form.imdb_rating}}</div>
                <label for="meta_score" class="col-sm-2 text-label">Meta Score</label>
                <div class="col-sm-4">{{form.meta_score}}</div>
            </div>
         
            
            <div class="form-group row">              
                <label for="no_of_votes" class="col-sm-2 text-label">No of Votes</label>
                <div class="col-sm-4">{{ form.no_of_votes }}</div>
                <label for="gross" class="col-sm-2 text-label">Gross</label>
                <div class="col-sm-4"> <div class="input-group">
                  <div class="input-group-addon">$</div>
                  {{form.gross}}
                  <div class="input-group-addon">.00</div>
                </div> </div>
            </div>

            <div class="form-group row">
                <label for="director" class="col-sm-2 text-label">Directors</label>
                <div class="col-sm-4"> {{form.director}}</div>
            </div>

            <fieldset class="form-group">
                <div class="row">
                  <div class="text-label col-sm-2">Stars</div>
                  <div class="col-sm-10">                   
                        {{form.star1}} 
                        {{form.star2}}       
                        {{form.star3}}
                        {{form.star4}}
                    </div>
                  </div> 
            </fieldset>
                 
            <div class="form-group row">
                <label for="overview" class="col-sm-2 text-label">Overview</label>
                <div class="col-sm-10">
                    {{form.overview }}
                </div>
            </div>    

            <div class="form-group row">
              <label for="" class="col-sm-2 text-label">Poster</label>
              <div class="col-sm-10">
                {{form.poster_path  }}
            </div>
              
            </div>

            <!-- <div class="form-group ">
                <button class="btn btn-outline-info" type="submit">Save</button> 
                <a class="btn btn-outline-info" href="{% url 'movie:home' %}" role="button">Back</a>
            </div> -->

            <div class=" form-group text-center ">
              <a href="{% url 'movie:home' %}" data-toggle="tooltip" data-placement="left" title='Cancel'><img  src="{% static 'previous.png' %}" width='40px' style="margin-right: 25px;" alt="Cancel" > </a>
              <img id='save_btn' src="{% static 'save.png' %}" width='40px' data-toggle="tooltip" data-placement="right" title='Save'  > 
            </div>


    </form>

</div>
 

{% endblock content %}